body {
	margin:3em 120px 8em 230px;
	background:#fff;
	font-family:"Lucida Grande", "Trebuchet MS", Arial, sans-serif;
	text-align:justify;
}

/*------------------------- Header */

#header {
/*	background:yellow;*/
	margin-bottom:3em;
	padding-bottom:3em;
	border-bottom:1px solid #aaa;
}
#header h1 {
	margin-bottom:0;
}
#header h2 {
	margin:0.4em 0 0 0;
	font-size:120%;
	font-weight:normal;
}
/*Link no meu nome*/
#header a {
	color:black;
	text-decoration:none;
}
#header a:hover {
	color:blue;
	text-decoration:underline;
}
/*
#header:hover {
	background:transparent url(favicon.png) right no-repeat;
}
*/

/*------------------------- Main */

#main a:hover img {
	outline:1px solid blue;
}
#main h2 {
	font-size:200%;
	margin: 4em -120px 1em 0px;
	padding:0.4em 30px;
	border:1px solid #aaa;
	border-width:1px 0 1px 1px;
	background:#eee;
}
#main h3 {
	margin-top:2em;
}
#main b {
	font-size:105%;
}
#main p, blockquote, dt, dd, li {
	line-height:1.5em;
}
#main hr {
	margin:3em 0;
}
#main td {
	line-height:1.2em;
	padding:0.5em;
}
#main blockquote {
	margin:2.5em auto 4em auto;
	padding:2em 0;
	border:1px solid #aaa;
	border-width:1px 0 1px 0;
	clear:both;
}
#main dt {
	margin:3.5em 0 0.2em 0;
	font-weight:bold;
}
#main dd {
	margin-left:0;
	padding-left:1em;
	border-left:5px solid #ccc;
}
#main li {
	margin-bottom:1em;
}

/*------------------------- Box */

.box {
	background:#fafafa;
	border:1px solid #ccc;
	padding:0.3em 1em;
	margin:3em;
}
.box td {
	font-size:85%;
	line-height:1.4em;
	text-align:justify;
}

/*------------------------- Testemunhos */
#main i.nome-testemunho {
	padding-left: 1em;
	color:#333;
}

/*------------------------- Ja Comprei */
#main td.passo {
	font-size:300%;
	font-weight:bold;
/*	background:black;*/
/*	color:white;*/
}

/*------------------------- Noticias */
#main .newsdate {
	font-size: 150%;
	color:#aaa;
}

/*------------------------- Sidebar */
#main .sidebar {
	left:0;
	top:0;
	width:160px;
	_width:200px;
	padding:0 10px;
	background-color:#000;
	color:silver;
	font-size:9pt;
	text-align:left;
	line-height:125%;
	font-family:Arial, sans-serif;

	position:fixed;
	overflow:auto;
	height:100%;
	
	_position:absolute; /* IE sux */
	_overflow:none;
}
#main .sidebar img.capinha {
	border:1px solid silver;
	display:block;
	margin:0 auto 8px auto;
	text-align:center;
}
#main .sidebar a {
	text-decoration:none;
	color:#fd4; /* gold */
	font-weight:bold;
}
#main .sidebar a:hover {
	background-color:#fd4;
	color:#000;
}
#main .sidebar p {
	margin-bottom:0;
}
#main .sidebar ul {
	margin:0;
	padding:0;
}
#main .sidebar ul li {
	margin:0;
	padding:0;
	line-height:125%;
	overflow:hidden;
}
#main .sidebar .nav ul {
/*	list-style-image:url(favicon.png);*/
/*	list-style-position:inside;*/
}
#main .sidebar .nav ul li {
	padding:0;
	font-size:13px;
}
#main .sidebar .noticias ul li {
	font-size:8pt;
}
#main .sidebar .noticias ul li a {
	font-weight:normal;
}
#main #books td {
	font-size:75%;
}

/*------------------------- Retweet */

.aa-share {
	position:fixed;
	top:3px;
	right:0px;
/*	border:1px solid red;*/
	width:110px !important;
	height:70px !important;
}
.aa-share .aa-buzz,
.aa-share .aa-twitter,
.aa-share .aa-facebook {
	float:none !important;
}
.aa-share .aa-buzz,
.aa-share .aa-twitter {
	margin-bottom:5px;
}
