body {
    padding-top: 100px;
}
.navbar-fixed-top a {
    line-height: 50px;
    padding: 15px 0;
    font-size: 18px;
    color: gold;
}
h2 {
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: 1px solid #ccc;
    margin-bottom: 1em;
}
h3 {
    font-size: 125%;
}
dt {
    margin-top: 1em;
}
table {
    margin-top: 2em;
    margin-bottom: 2em;
}
.huge {
    font-size: 300%;
}
.testimonial-author {
    padding-left: 1em;
    color: gray;
}
.news small {
    color: gray;
}
.books-grid {
    margin-top: 2em;
}
.thumbnail {
    text-align: center;
}
.thumbnail b {
    color: black;
}
footer {
    margin: 3em 0 2em 0;
}
