body {
    margin: 3em 120px 3em 230px;
    background: #fff;
    font-family: "Lucida Grande", "Trebuchet MS", Arial, sans-serif;
    text-align: justify;
}

/*------------------------- Header */

.header {
    /*background: yellow;*/
    margin-bottom: 3em;
    padding-bottom: 3em;
    border-bottom: 1px solid #aaa;
}
.header h1 {
    margin-bottom: 0;
}
.header h2 {
    margin: 0.4em 0 0 0;
    font-size: 120%;
    font-weight: normal;
}

/* Link no meu nome */

.header a {
    color: black;
    text-decoration: none;
}
.header a:hover {
    color: blue;
    text-decoration: underline;
}

/*
.header:hover {
    background: transparent url(favicon.png) right no-repeat;
}
*/


/*------------------------- Main */

.main {
    margin-bottom: 6em;
}
.main a:hover img {
    outline: 1px solid blue;
}
.main h2 {
    font-size: 200%;
    margin: 3em -120px 1em 0;
    padding: 0.4em 30px;
    border: 1px solid #aaa;
    border-width: 1px 0 1px 1px;
    background: #eee;
}
.main h3 {
    margin-top: 2em;
}
.main b {
    font-size: 105%;
}
.main p,
.main blockquote,
.main dt,
.main dd,
.main li {
    line-height: 1.5em;
}
.main hr {
    margin: 3em 0;
}
.main td {
    line-height: 1.2em;
    padding: 0.5em;
}
.main blockquote {
    margin: 2.5em auto 4em auto;
    padding: 2em 0;
    border: 1px solid #aaa;
    border-width: 1px 0 1px 0;
    clear: both;
}
.main dt {
    margin: 3.5em 0 0.2em 0;
    font-weight: bold;
}
.main dd {
    margin-left: 0;
    padding-left: 1em;
    border-left: 5px solid #ccc;
}
.main li {
    margin-bottom: 1em;
}

/*------------------------- Box */

.box {
    background: #fafafa;
    border: 1px solid #ccc;
    padding: 0.3em 1em;
    margin: 3em;
}
.box td {
    font-size: 85%;
    line-height: 1.4em;
    text-align: justify;
}

/*------------------------- Testemunhos */

.nome-testemunho {
    padding-left: 1em;
    color: #333;
}

/*------------------------- Ja Comprei */

.passo {
    font-size: 300%;
    font-weight: bold;
    /*background: black;*/
    /*color: white;*/
}

/*------------------------- Noticias */

.newsdate {
    font-size: 150%;
    color: #aaa;
}

/*------------------------- Sidebar */

.sidebar {
    left: 0;
    top: 0;
    width: 160px;
    _width: 200px;
    padding: 0 10px;
    background-color: #000;
    color: silver;
    font-size: 9pt;
    text-align: left;
    line-height: 125%;
    font-family: Arial, sans-serif;
    position: fixed;
    overflow: auto;
    height: 100%;
    /* IE sux */
    _position: absolute;
    _overflow: none;
}
.sidebar .capinha {
    border: 1px solid silver;
    display: block;
    margin: 0 auto 8px auto;
    text-align: center;
}
.sidebar a {
    text-decoration: none;
    font-weight: bold;
    /* gold */
    color: #fd4;
}
.sidebar a:hover {
    background-color: #fd4;
    color: #000;
}
.sidebar p {
    margin-bottom: 0;
}
.sidebar ul {
    margin: 0;
    padding: 0;
}
.sidebar ul li {
    margin: 0;
    padding: 0;
    line-height: 125%;
    overflow: hidden;
}
.sidebar .nav ul {
    /*list-style-image: url(favicon.png);*/
    /*list-style-position: inside;*/
}
.sidebar .nav ul li {
    padding: 0;
    font-size: 13px;
}
.sidebar .noticias ul li {
    font-size: 8pt;
}
.sidebar .noticias ul li a {
    font-weight: normal;
}

/*------------------------- Outros */

.footer {
    text-align: right;
    font-style: italic;
}
.books td {
    font-size: 75%;
}
